*Log.txt
*.log
*Err.txt
temp/
.vscode/
out/
builds/
build/
root/config/.docker
root/config/.dotnet
root/config/.dbus
root/config/.vscode-server
root/config/.ssh
DumpFilesIndex.txt
ConfigDumpInfo.xml
ParentConfigurations.bin
*.cf
smoke_run*.cmd
sonar_scanner.cmd
.scannerwork
root/config/.bash_history
root/config/.gitconfig
